/* styl.css */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #e0e8f0;
    background-image: url('forecastBackground.jpg'); /* zakładam lekko zachmurzone niebo */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Arial', sans-serif;
    color: #333;
    flex-direction: column;
}

#mainContainer {
    flex: 1;
    padding: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 45%;
    background: rgba(255, 255, 255, 0.8); /* delikatna przezroczystość */
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* lekki cień */
}

#getLocalization {
    text-align: center;
    padding: 15px;
    background: rgba(240, 240, 240, 0.9);
    border: 1px solid rgba(220, 220, 220, 0.7);
    border-radius: 5px;
    color: #555;
}

.weatherElement {
    text-align: center;
    padding: 15px;
    background: rgba(240, 240, 240, 0.9);
    border: 1px solid rgba(200, 200, 200, 0.7);
    border-radius: 5px;
    color: #444;
}

h1, h2 {
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-align: center;
    color: transparent;
    background-image: linear-gradient(90deg, #4f87d3, #7fbfff);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 2em; /* Zmieniaj w zależności od nagłówka */
    line-height: 1.4em;
}

h1 {
    font-size: 2.5em; /* Większe nagłówki */
}

h2 {
    font-size: 2em;
}
.weatherData {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.weatherIcon img {
    width: 50px;
    height: 50px;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.2));
}

input {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(200, 200, 200, 0.7);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
}

button {
    padding: 12px 25px;
    background: linear-gradient(90deg, #7fbfff, #4f87d3);
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(79, 135, 211, 0.3);
    transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

button:hover {
    background: linear-gradient(90deg, #4f87d3, #365c92);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(54, 92, 146, 0.4);
}

#forecastContainer {
    display: none;
    justify-content: center; /* Center elements horizontally */
    align-items: center; /* Center elements vertically */
    gap: 10px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    position: relative; /* Ensure arrows are positioned correctly */
}

#forecastWeather {
    display: flex;
    justify-content: center; /* Center elements horizontally */
    overflow: hidden;
    gap: 10px;
    width: calc(4 * 180px + 2 * 10px); /* Adjust width to fit 3 elements and gaps */
}

.forecastElement {
    text-align: center;
    padding: 10px;
    background: rgba(240, 240, 240, 0.9);
    border: 1px solid rgba(200, 200, 200, 0.7); /* Add border */
    border-radius: 5px;
    color: #444;
}

.arrow {
    background: none;
    color: black;
    font-size: 2em;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: absolute; /* Position arrows absolutely */
    top: 50%;
    transform: translateY(-50%);
}

#prevArrow {
    left: 10px; /* Adjust position as needed */
}

#nextArrow {
    right: 10px; /* Adjust position as needed */
}
.arrow:hover {
    background: linear-gradient(90deg, #4f87d3, #365c92);
    transform: translateY(-52%);
    box-shadow: 0 5px 15px rgba(54, 92, 146, 0.4);
}

img {
    width: 25px;
    height: 25px;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.2));
    margin-right: 5px; /* Add some space between the icon and the text */
    vertical-align: middle; /* Align the icon with the text */
}
.weatherIcon img, .forecastIcon img {
    width: 50px; /* Increase width */
    height: 50px; /* Increase height */
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.2));
    margin-right: 5px; /* Add some space between the icon and the text */
    vertical-align: middle; /* Align the icon with the text */
}
a {
    color: #4f87d3; /* Match the color scheme */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Make the text bold */
    transition: color 0.3s ease; /* Smooth transition for color change */
    font-size: 12px;
}

a:hover {
    color: #365c92; /* Darker shade on hover */
    text-decoration: underline; /* Underline on hover */
}

.weatherDescription {
    font-size: 1.1em;
    font-weight: bold;
    color: #4f87d3;
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.forecastDate {
    font-size: 1em;
    color: #000000;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-style: italic;
}

footer {
    background: rgba(255, 255, 255, 0.8);
    border-top: 1px solid rgba(200, 200, 200, 0.7);
    padding: 10px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
    color: #333;
}