body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #f6b639; /* Light beige background */
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
    padding: 20px;
}

header {
    width: 100%;
    text-align: center;
    background-color: #b22222; /* Firebrick red */
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    font-size: 36px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    font-family: 'Georgia', serif;
    font-size: 28px;
    margin-bottom: 10px;
    color: #8b0000; /* Dark red */
}

h3 {
    font-family: 'Georgia', serif;
    font-size: 24px;
    margin-bottom: 5px;
    color: #8b4513; /* Saddle brown */
    border-bottom: 1px solid #e0d9c1;
    padding-bottom: 5px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin: 10px 0;
    color: #4a3d35;
}

footer {
    width: 100%;
    text-align: center;
    background-color: #b22222; /* Firebrick red */
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
}

.content {
    font-family: 'Georgia', serif;
    background-image: url('https://www.transparenttextures.com/patterns/white-wall.png'); /* Delicate paper-like texture */
}

.content h3::before {
    content: '🍴 ';
}

/* Frame for elements */
.content {
    padding: 30px;
    border-radius: 8px;
    border: 1px solid #d8c7a7;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Link styles in recipes */
a {
    color: #b22222; /* Firebrick red */
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

button{
    background-color: #4a5ee3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

/* Media queries for different screen sizes */
@media screen and (max-width: 1024px) {
    header, footer {
        width: 100%;
    }

    #logo {
        width: 200px;
    }

    header {
        font-size: 24px;
        padding: 1em 2em;
    }
}

@media screen and (max-width: 768px) {
    header, .content, footer {
        width: 100%;
    }

    #logo {
        width: 250px;
    }

    header {
        font-size: 22px;
        flex-direction: column;
    }

    .container {
        padding: 1em;
    }

    footer {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    body {
        background-size: cover;
        padding: 0;
    }

    header, .content, footer {
        width: 100%;
        margin: 0;
        padding: 0.5em;
    }

    #logo {
        width: 170px;
    }

    header {
        font-size: 18px;
        padding: 0.5em;
        flex-direction: column;
        align-items: center;
    }

    .content {
        padding: 1em;
        font-size: 14px;
    }

    ul {
        padding-left: 20px;
    }

    footer {
        font-size: 12px;
    }

    a {
        font-size: 20px;
    }
}

@media screen and (min-width: 1025px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .content {
        width: 42%;
    }
    header {
        padding-top: 0;
    }
    footer p {
        font-size: 24px;
    }
}